<html>
<head>
<title> RailsChef </title>
<%= stylesheet_link_tag 'base' %>
</head>
<body>

  <% if flash[:notice] %>
    <div class="flash"><%= flash[:notice] %></div>
  <% end %>

  
  <div id="wrapper">
  
  <%= yield %>
  
  </div>
  
</body>
</html>
